{% extends 'base.html' %}
{% block mystyle %}
<style>
        .box{
            width: 100%;
            height:100px;
            background: rgba(0, 0, 255,0.5);
            border-radius: 2%;
        }
        .pill{
            background: green;
            width:100%;
            height: 40px;
            line-height: 40px;
            border-radius: 25px;
            color:white;
            padding-left: 30%;
        }
        .photo{
            border-radius: 50%;
            height:90px;
            width:90px;
            border: 7px solid white; 
            position: relative; 
            top:5px;
        }
        .online{
            border-radius: 50%;
            height:70px;
            width: 70px;
            margin-right: 10px;
            margin-bottom: 10px;
            margin-top: 10px;
            margin-left: 0 auto;
        }
        .dot{
            background: rgb(11, 247, 11);
            height: 10px;
            width: 10px;
            border-radius: 50%;
            position: relative;
            top: -17px;
            left: 30px;
        }
        .profile{
            border-radius:50%;
            height:100px;
            width:100px;
        }
        .friend{
            text-align: left;
        }
        @media screen and (max-width:500px){
            *{
                text-align: center !important;
                
            }
        }
    </style>
{% endblock %}

{% block mycode %}
{% load staticfiles %}
        <div class="row">
            <div class="col-md-12">
                <br/><br/><br/><br/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="row">
                    <h3 class="text-primary smal">{{user.first_name}} {{user.last_name}}</h3>
                </div>
                <div class="row">
                    <p class="text-muted  smal mx-5">{{profile.profession}}</p>
                </div>
                <div><br/> <br/> <br/></div>

                <div class="row">
                    <div class="col-md-12 sticky-top" >
                        <img src="{% static 'images/newsfeed.png' %}" alt="" style="height:20px;">&nbsp;&nbsp;&nbsp;
                        <a href="{% url 'project:time' %}" style="color:grey">Timeline</a> <hr/>
                        <img src="{% static 'images/nearby.png' %}" alt="" style="height:16px;">&nbsp;&nbsp;
                        <a href="{% url 'project:friends' %}" style="color:grey">Friends</a> <hr/>
                        <img src="{% static 'images/messages.jpg' %}" alt="" style="height:18px;">
                        <a href="{% url 'project:messages' %}" style="color:grey">Messages</a> <hr/>
                        <img src="{% static 'images/settings.png' %}" alt="" style="height:18px;">
                        <a href="{% url 'project:basic' %}" style="color:grey">Settings</a> <hr/>
                        <img src="{% static 'images/Signout.png' %}" alt="" style="height:18px;">
                        <a href="{% url 'project:logout' %}" style="color:grey">Logout</a> <hr/>
                    </div>
                </div>
            </div>
            <div class="col-md-8 mt-3">
                <div class="row">
                    <div class="col-md-12 ">
                        <h4 class="text-center text-muted">People You May Know</h4>
                        <div class="input-group mt-5" style="margin-left:35%">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <div class="input-group-append">
                                    <input type="text" name="content" class="form-control text-center" id="" placeholder="Search by Name">
                                    <input type="submit" class="btn btn-success" value='Search' name="" id="">
                                </div>
                            </form>
                        </div>
                        <hr style="margin-top:27px;"/>
                    </div>             
                </div>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for i in users %}
                    <div class="row">
                        <div class="col-md-2 friend">
                            {% if i.profile_pic %}
                            <img src="/media/{{i.profile_pic}}" class="photo">
                            
                            {% else %}
                            <img src="/media/no_image.png" alt="" class="photo">
                            {% endif %}
                            <!-- <img src="/media/{{i.profile_pic}}" alt="" class="profile"> -->
                        </div>
                        <div class="col-md-7 mt-3">
                            <h4><a href="">{{i.user.first_name}} {{i.user.last_name}}</a></h4>
                            <p class="text-muted m-0 ">Student at Guru Nanak Dev University,Jalandhar</p>
                            <p class="text-muted m-0">6 mutual friends</p>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-primary mt-4 text-light" type="button" id="addfriend{{i.user.id}}" onclick="add('{{i.user.id}}')">Add Friend</button>
                        </div>
                    </div>
                    <hr/>
                {% endfor %}
                </form>
            </div>
            <div class="col-md-2">
                <h6 class="pill mt-2">Chat Online</h6>
                <hr class="mt-4" />
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        {% for i in onlines %}
                        <a href="{% url 'project:user_inbox'%}?id={{i.user.id}}">
                            {% if i.profile_pic %}
                            <img src="/media/{{i.profile_pic}}" alt="" class="online">
                            {% else %}
                            <img src="/media/no_image.png" alt="" class="online">
                            {% endif %}
                            <div class="dot m-0"></div>
                        </a>
                        {% endfor %}
                        <!-- <img src="{% static 'images/girl.jpg' %}" alt="" class="online"><div class="dot m-0"></div> -->
                        
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </div>

    {% block myscript %}
    <script>
            function add(id){
                $.ajax({
                    url:'{% url "project:follow"%}',
                    type:'get',
                    data:{id:id},
                    success:function(data){
                        $('#addfriend'+id).html(data);
                        if(data=="Add Friend"){
                            $('#addfriend'+id).removeClass('btn-danger').addClass('btn-primary');
                        }else{
                            $('#addfriend'+id).removeClass('btn-primary').addClass('btn-danger');
                        }
                    }
                })
            }
            </script>
    {% endblock %}