{% extends 'base.html' %}
{% block mystyle %}
<style>
        .box{
            width: 100%;
            height:100px;
            background: rgba(0, 0, 255,0.5);
            border-radius: 2%;
        }
        .pill{
            background: green;
            width:100%;
            height: 40px;
            line-height: 40px;
            border-radius: 25px;
            color:white;
            padding-left: 30%;
        }
        .photo{
            border-radius: 50%;
            height:90px;
            width:90px;
            border: 7px solid white; 
            position: relative; 
            top:-20px
        }
        .online{
            border-radius: 50%;
            height:70px;
            width: 70px;
            margin-right: 10px;
            margin-bottom: 10px;
            margin-top: 10px;
            margin-left: 0 auto;
        }
        .dot{
            background: rgb(11, 247, 11);
            height: 10px;
            width: 10px;
            border-radius: 50%;
            position: relative;
            top: -17px;
            left: 30px;
        }
        .profile{
            border-radius:50%;
            height:100px;
            width:100px;
        }
        .friend{
            text-align: left;
        }
        @media screen and (max-width:500px){
            *{
                text-align: center !important;
                
            }
        }
    </style>
{% endblock %}

{% block mycode %}
{% load staticfiles %}
        <div class="row">
            <div class="col-md-12">
                <br/><br/><br/><br/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                    <div class="row">
                            <h3 class="text-primary smal">{{user.first_name}} {{user.last_name}}</h3>
                        </div>
                        <div class="row">
                            <p class="text-muted  smal mx-5">{{profile.profession}}</p>
                        </div>
                        <div><br/> <br/> <br/></div>
        
                        <div class="row">
                            <div class="col-md-12 sticky-top" >
                                <img src="{% static 'images/newsfeed.png' %}" alt="" style="height:20px;">&nbsp;&nbsp;&nbsp;
                                <a href="{% url 'project:time' %}" style="color:grey">Timeline</a> <hr/>
                                <img src="{% static 'images/nearby.png' %}" alt="" style="height:16px;">&nbsp;&nbsp;
                                <a href="{% url 'project:friends' %}" style="color:grey">Friends</a> <hr/>
                                <img src="{% static 'images/messages.jpg' %}" alt="" style="height:18px;">
                                <a href="{% url 'project:messages' %}" style="color:grey">Messages</a> <hr/>
                                <img src="{% static 'images/settings.png' %}" alt="" style="height:18px;">
                                <a href="{% url 'project:basic' %}" style="color:grey">Settings</a> <hr/>
                                <img src="{% static 'images/Signout.png' %}" alt="" style="height:18px;">
                                <a href="{% url 'project:logout' %}" style="color:grey">Logout</a> <hr/>
                            </div>
                        </div>
            </div>
            <div class="col-md-8 mt-3">
                <div class="row">
                    <div class="col-md-12 ">
                        <h4 class="text-center text-muted">Friend Requests</h4>
                        <hr style="margin-top:27px;"/>
                    </div>             
                </div>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for i in req %}
                    
                    <div class="row">
                        <div class="col-md-12">
                            <span id="msz"></span>
                            <div class="row">
                                <div class="col-md-2">
                                    {% if i.followers.profile_pic %}
                                    <img src="/media/{{i.followers.profile_pic}}" class="profile">
                                    
                                    {% else %}
                                    <img src="/media/no_image.png" alt="" class="profile">
                                    {% endif %}
                                    <!-- <img src="/media/{{i.followers.profile_pic}}" alt="" class="profile"> -->
                                </div>
                                <div class="col-md-6 mt-3">
                                    <h4><a href="">{{i.followers.user.first_name}} {{i.followers.user.last_name}}</a></h4>
                                    <p class="text-muted m-0 text-muted">6 mutual friends</p>
                                </div>
                                <div class="col-md-4 mt-4">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button class="btn btn-primary form-control" type="button"  onclick="actionREQ('{{i.id}}','con')">Confirm</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="btn btn-danger form-control" type="button" onclick="actionREQ('{{i.id}}','dl')">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                </form>
            </div>
            <div class="col-md-2">
                <h6 class="pill mt-2">Chat Online</h6>
                <hr class="mt-4" />
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        {% for i in onlines %}
                        <a href="{% url 'project:user_inbox'%}?id={{i.user.id}}">
                            {% if i.profile_pic %}
                            <img src="/media/{{i.profile_pic}}" alt="" class="online">
                            {% else %}
                            <img src="/media/no_image.png" alt="" class="online">
                            {% endif %}
                            <div class="dot m-0"></div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block myscript %}
    <script>
        function actionREQ(id,a){
            $.ajax({
                url:'{% url "project:ConfDel" %}',
                type:'get',
                data:{id:id,ac:a},
                success:function(data){
                    if(data==1){
                        $('#msz').addClass('alert alert-success').html('Request accepted')
                    }else{
                        $('#msz').addClass('alert alert-danger').html('Request deleted')
                    }
                }
            });
        }
    </script>
    {% endblock %}