{%extends "base.html"%}

{% block mystyle %}
    <style>
    h1{
        color: red;
        text-align: center;
    }
    </style>            
    
{% endblock %}
</div>
{%block mycode%}

<h1>ABOUT page</h1>

{% endblock %}
