<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Site</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% block mystyle %}
                
    {% endblock %}
    <style>
    .bg{
        background: url("{%static 'image/pubg.jpg'%}");
    }
    </style>
</div>
</head>
<body>
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-md-12 px-0'>
                <nav class='navbar bg-primary navbar-expand-sm navbar-dark'>
                    <a href="{% url 'home' %}" class='navbar-brand'>MySiTe</a>
                   
                    <ul class='navbar-nav mx-auto'>
                        <li class='nav-item'>
                            <a href="{% url 'home' %}" class='nav-link'>Home</a>
                        </li>
                        <li class='nav-item'>
                            <a href="{% url 'myapp:ab' %}" class='nav-link'>About</a>
                        </li>
                        <li class='nav-item'>
                            <a href="{% url 'myapp:con'%}" class='nav-link'>Contact</a>
                        </li>
                        <li class='nav-item'>
                            <a href="{% url 'admin:index' %}" class='nav-link'>Admin</a>
                        </li>
                        <li class='nav-item'>
                            <a href="{% url 'myapp:studentForm' %}" class='nav-link'>Student Form</a>
                        </li>
                        <li class='nav-item'>
                            <a href="{% url 'myapp:employeeForm' %}" class='nav-link'>Model Form</a>
                        </li>
                       
                    </ul>
                </nav>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-3 bg-dark text-center py-5 text-light' style='height:740px;'>
                <img src="{%static 'image/is.jpg'%}" height='150' width='150' class='rounded-circle' alt="">
                <div class='py-5'>
                    <p>View Profile</p>
                    <p>Change Password</p>
                    <p>Notifications</p>
                    <p>
                        <a href="{% url 'myapp:logout' %}" >logout</a>
                    </p>
                </div>
            </div>
            <div class='col-md-9 bg px-0'>
                {% block mycode %}
                
    
                {% endblock %}
            </div>
            <!-- FOOTER -->
            <div class='col-md-12 bg-primary text-light py-3 text-center'>
                <h4>MySite</h4>
                <p>&copy; All rights reserved.| Designed By: sukhpreet singh</p>
            </div>
        </div>
        
    </div>
</body>
</html>
