{% extends 'base.html' %}
{% block mystyle %}
{% load bootstrap4 %}
<style>
h2{font-family:courier New;color:white;}
label{color:white;}
</style>
{% endblock %}
{% block mycode %}
<h2>Employee form </h2>
<div style='height:2px;width:100px;background:red;'></div>
<div class='row p-4'>
    <div class='col-md-6 mx-auto' style='background:rgba(0,0,0,0.5)'>
        {% if msz %}
            <h2 class='alert alert-{{color}}'>{{msz}}</h2>
        {% endif %}
        <form action="" method='post'>
            {% csrf_token %}
            {% bootstrap_form frm%}
            <input type="submit" class='btn btn-primary m-2'>
        </form>
    </div>
</div>
{% endblock %}
