<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>firstproject | Homepage</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src='{% static "jquery.js"%}'></script>
    <script src='{% static "js/bootstrap.min.js"%}'></script>
</head>
<body>
    <div class='container bg-info'>
        <div class='row'>
            <div class='col-md-12 text-white bg-dark'>
                <h4>My Site</h4>
            </div>
        </div>
        <div class='row p-5'>
            <div class='col-md-4'>
                <div class='p-2 shadow shadow-lg'>
                    <img src="{% static 'images/bg.jpg'%}" height='200' width='100%' alt="">
                    <h2>Lorem Ipsum</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non ad laboriosam autem. Ipsam illo impedit minima ipsum rem vitae corporis culpa, magni consectetur fugit neque suscipit autem. Natus, distinctio quos!
                    </p>
                </div>
            </div>
            <div class='col-md-4'>
                <div class='p-2 shadow shadow-lg'>
                    <a href="#" data-toggle='modal' data-target='#mymodal'>
                        <img src="{% static 'images/img2.png'%}" height="200" width="100%" alt="">
                    </a>
                    <h2>Lorem Ipsum</h2>
                    <div class='modal fade' id='mymodal'>
                        <div class='modal-dialog'>
                            <div class='modal-content'>
                                <div class='modal-header'>
                                    <span class='close' data-dismiss='modal'>&times;</span>
                                </div>
                                <div class='modal-body'>
                                    <p>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non ad laboriosam autem. Ipsam illo impedit minima ipsum rem vitae corporis culpa, magni consectetur fugit neque suscipit autem. Natus, distinctio quos!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-md-4'>
                <div class='p-2 shadow shadow-lg'>
                    <img src="{% static 'images/img4.jpg'%}" height="200" width="100%" alt="">
                    <h2>Lorem Ipsum</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non ad laboriosam autem. Ipsam illo impedit minima ipsum rem vitae corporis culpa, magni consectetur fugit neque suscipit autem. Natus, distinctio quos!
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
