<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        h1{
            font-family: cursive;color:rgb(225, 240, 12);text-align: center;
        }
        p{
            color:red;
        }
    </style>
</head>
<body>
    <h1>lorem</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem optio accusantium, repellat, laborum sint cum porro, quasi illum suscipit et autem voluptatum aspernatur quae? Nesciunt enim corrupti dolores itaque. Veritatis.</p>
    <ol>
        <li>html</li>
        <li>css</li>
        <li>jAVA</li>
        <li>bootstrap</li>
        <li>python</li>
        <li>java</li>

    </ol>
    <hr>
    <h1>{{data}}</h1>
    <h1>{{data.upper}}</h1>
    <h1>{{data.lower}}</h1>
    <hr>
    <ol>
        {% for i in color %}
           <li>{{i}}</li>
        {% endfor %}
    </ol>
</body>
</html>