<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index Page</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <style>
    .bg{
        background:url('{% static "image/pubg.jpg"%}');
        background-size:cover
    }
    .btn{
        height:100px;
    }
    </style>
</head>
<body class='bg py-5'>
    <div class='container py-5 my-5'>
        <div class='row py-5 my-5'>
            <div class='col-md-6'>
                <a href="{% url 'myapp:rgUsingMF'%}">
                    <button class='btn btn-danger btn-block'>Not Have an Account?</button>
                </a>
            </div>
            <div class='col-md-6'>
                <a href="{% url 'myapp:uslogin'%}">
                    <button class='btn btn-success btn-block'>Login</button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
