{% extends "base.html"%}
{% block mycode %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            {%if status %}
                <p class="alert alert-success">{{status}}</p>
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="">To</label>
                    <input type="text" class="form-control" name="to">
                </div>
                <div class="form-group">
                    <label for="">Subject</label>
                    <input type="text" class="form-control" name="subject">
                </div>
                <div class="form-group">
                    <label for="">Message</label>
                    <textarea class="form-control" name="message" id="" cols="30" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit"  class="btn btn-success" value="Send Mail">
                </div>
            </form>
        </div>
    </div>
{% endblock %}