<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>task</title>
</head>
<body>
    <table >
        <thead>
            <th>color name</th>
            <th>color box</th>
        </thead>
       
<tbody>
        {% for i in c %}
        <tr>
            <td>{{i}}</td>
            <td>
                <div style="height:50px;width:100%;background:{{i}};"></div>
            </td>
        </tr>
        {% endfor %}
</tbody>  
    </table>
    {% for i in u %}
    <h1>{{i.r_no}}-{{i.name}}</h1>
    {% endfor %}
</body>
</html>