<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style>
    .bg{
        background:url('{%static "images/img2.png"%}');
    }
    </style>
</head>
<body>
    <div class='container-fluid'>
        <div class='row bg'>
            <div class='col-md-12 text-center text-light px-0'>
                <h1 class='py-5 my-3'>myapp/users</h1>
            </div>
        </div>
        <div class='row'>
            <div class='col-md-12'>
                <h2>Total Users: {{total}} </h2>
                <table class='table table-striped table-hover table-info'>
                    <thead class='thead-dark'>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Roll No</th>
                            <th>Date of Birth</th>
                            <th>Website</th>
                            <th>Address</th>
                            <th>Branch</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in users %}
                            <tr>
                                <td>{{i.id}}</td>
                                <td>{{i.name}}</td>
                                <td>{{i.email}}</td>
                                <td>{{i.roll_no}}</td>
                                <td>{{i.dob}}</td>
                                <td>{{i.website}}</td>
                                <td>{{i.address}}</td>
                                <td>{{i.branch}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
