{% extends 'base.html'%}
{% load staticfiles %}

{% block mystyle %}

{% endblock %}

{% block mycode %}
<div class="about-top section" id="about">
    <div class="container">
        <div class="w3l-about-top-head">
            <div class="col-md-6 about-left text-center">
                <h5 class="main-title">introducing</h5>
                <h6 class="txt">fitness freak</h6>
                <p>we explore your hidden potential</p>
            </div>
            <div class="col-md-6 about-right">
                <h5>Fitness culture is a sociocultural phenomenon which refers to the culture surrounding physical exercises. It is usually associated with gym culture, as doing physical exercises in locations such as gyms, wellness centres and health clubs is a popular activity. </h5>
                <p>Of course not. Instead, fitness was a way of life - it was survival. Hunting prey, foraging, farming and maintaining a home meant that people were constantly moving throughout the day. Despite the fact that these individuals never had any structured workout routines, they rarely suffered from some of the health problems that we see in today’s world. They ate all-natural foods that came from the ground or wild and sustained a high total daily calorie burn. These two combined factors produced a fit and healthy body - one that was agile, strong, and lean..</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //about -->
<!-- about-bottom-grid -->
<div class="section about-bottomgrid">
    <div class="container">
        <div class="about-bot-grid-sec">
            <div class="about-middle-pos">
                <h2>fitness freak</h2>
                <p>strive for progress</p>
            </div>
            <div class="about-section">
                <div class="col-md-4 col-sm-6  abg1">

                </div>
                <div class="col-md-8 col-sm-6 wthree-sec-about">
                    <h4 class="bot-grid1">commit to be fit</h4>
                    <p class="bot-gridtxt">“Getting fit is all about mind over matter. I don’t mind, so it doesn’t matter.”</p>
                </div>
                <div class="clearfix"> </div>

            </div>
            <div class="col-md-8  col-sm-6 wthree-sec-about about-pos-btm">
                <h4 class="bot-grid-about">focus on being happy</h4>
                <p>Successful people maintain a positive focus in life no matter what is going on around them. My key to dealing with stress is simple: just stay cool and stay focused.</p>
            </div>
            <div class="col-md-4 col-sm-6 abg2">
            </div>

            <div class="clearfix"> </div>
        </div>
    </div>
</div>
{% endblock %}
