<!DOCTYPE html>
{%load staticfiles%}
<html lang="zxx">

<head>
    <title>Fitness Freak Sports Category Bootstrap Responsive website Template | Home  :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Fitness Freak Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="{% static 'css/bootstrap.css' %}" type="text/css" rel="stylesheet" media="all">
    <link href="{%static 'css/style.css'%}" type="text/css" rel="stylesheet" media="all">
    <!-- testimonials -->
    <link rel="stylesheet" href="{%static 'css/owl.carousel.css'%}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/owl.theme.css'%}" type="text/css" media="all">
    <!-- flexslider -->
    <link rel="stylesheet" href="{% static 'css/flexslider.css'%}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'css/smoothbox.css'%}" type='text/css' media="all" />
     <!-- font-awesome icons -->
    <link href="{% static 'css/font-awesome.css'%}" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- web-fonts -->
    <link href="{% static '//fonts.googleapis.com/css?family=Jockey+One'%}" rel="stylesheet">
    <link href="{% static '//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i'%}" rel="stylesheet">
    <!-- //web-fonts -->
    <!-- Navigation-CSS --> <link rel="stylesheet" href= "{% static  'css/menu_sideslide.css'%}" 	type="text/css" media="all">
    {% block mystyle %}
                
    {% endblock %}
</head>

<body>
        <div class="agiletopbar">
                <div class="wthreenavigation">
                    <div class="menu-wrap">
                        <nav class="menu">
                            <div class="icon-list">
                                <a href="{% url 'index' % }"><i class="fa fa-home"></i><span>Home</span></a>
                                <a href="{% url 'myapp:about' % }"><i class="fa fa-info"></i><span>About</span></a>
                                <a class="scroll" href="#w3lsstatsaits"><i class="fa fa-bar-chart"></i><span>Stats</span></a>
                                <a class="scroll" href="#wthreedesserts"><i class="fa fa-birthday-cake"></i><span>Specials</span></a>
                                <a class="scroll" href="#portfolio"><i class="fa fa-picture-o"></i><span>Portfolio</span></a>
                                <a class="scroll" href="#chefw3agile"><i class="fa fa-user"></i><span>Chefs</span></a>
                                <a class="scroll" href="#agileinfofeedback"><i class="fa fa-comment-o"></i><span>Feedback</span></a>
                                <a class="scroll" href="#newsletter"><i class="fa fa-envelope-o"></i><span>Subscribe</span></a>
                                <a class="scroll" href="#aitscontactw3l"><i class="fa fa-phone"></i><span>Contact</span></a>
                            </div>
                        </nav>
                        <button class="close-button" id="close-button">Close Menu</button>
                    </div>
                    <button class="menu-button" id="open-button">Open Menu</button>
                </div>
                
              
               
                <div class="clearfix"></div>
            </div>
    <!-- banner -->
    <div class="main_section" id="home">
        <div class="agile-banner_nav">

            <nav class="navbar navbar-default">
                <div class="navbar-header navbar-left">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1>
                        <a class="navbar-brand" href="{% url 'index'%}">Freak
                            <span>fitness</span>
                        </a>
                    </h1>

                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <nav class="link-effect-2" id="link-effect-2">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="{% url 'index' %}" class="effect-3">Home</a>
                            </li>
                            <li>
                                <a href="{% url 'myapp:about' %}" class="effect-3 scroll">About</a>
                            </li>
                            <li>
                                <a href="{% url 'myapp:contactView'%}" class="effect-3 scroll">contact</a>

                            </li>
                            <li>
                                <a href="{% url 'myapp:uslogin'%}" class="effect-3 scroll">Log in</a>
                            </li>
                            <li>
                                <a href="{% url 'myapp:register'%}" class="effect-3 scroll">Register</a>
                            </li>
                           
                          
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle effect-3" data-toggle="dropdown">More
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">

                                    <li>
                                        <a href="{% static '#team'%}" class="scroll">Team</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="{% static '#blog'%}" class="scroll">Blog</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a class="s-menu" href="{% static '#'%}">Sub menu
                                            <b class="fa fa-caret-right"></b>
                                        </a>
                                        <ul class="dropdown-menu sub-menu">
                                            <li>
                                                <a href="{% static '#'%}">link1</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a href="{% static '#'%}">link2</a>
                                            </li>
                                        </ul>
                                    </li>

                                </ul>
                            </li>
                         </ul>
                    </nav>
                </div>
            </nav>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div style="height:200px;"></div>
        {% block mycode %}
                
        {% endblock %}

    <!-- footer -->
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-copy text-center">
                <p>© 2018 Fitness Freak. All rights reserved | Design by
                    <a href="//w3layouts.com/">W3layouts</a>
                </p>
            </div>
        </div>
    </div>
<!-- //footer -->
    <!-- js -->
    <script src="js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!-- nav dropdown -->
    <script>
        $('ul.dropdown-menu li').hover(function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
        }, function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
        });
    </script>
    <!-- //nav dropdown -->
    <!-- gallery -->
    <script src="js/smoothbox.jquery2.js"></script>
    <!-- //gallery -->
    <!-- banner Slider script  -->
    <script src="js/responsiveslides.min.js"></script>
    <script>
        $(function () {
            $("#slider, #slider1").responsiveSlides({
                auto: true,
                nav: false,
                speed: 1500,
                namespace: "callbacks",
                pager: true,
            });
        });
    </script>
    <!-- //banner Slider-JavaScript -->
    <!-- Team FlexSlider -->
    <script defer src="js/jquery.flexslider.js"></script>
    <script>
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                start: function (slider) {
                    $('body').removeClass('loading');
                }
            });
        });
    </script>
    <!-- End- Flexslider-script -->
    <!-- Testimonials owl carousel -->
    <script src="js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({

                autoPlay: 3000, //Set AutoPlay to 3 seconds
                autoPlay: false,
                items: 3,
                itemsDesktop: [991, 2],
                itemsDesktopSmall: [414, 4]

            });
        });
    </script>
    <!-- //Testimonials owl carousel -->
    <!-- start-smooth-scrolling -->
    <script src="js/move-top.js"></script>
    <script src="js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
            	containerID: 'toTop', // fading element id
            	containerHoverID: 'toTopHover', // fading element hover id
            	scrollSpeed: 1200,
            	easingType: 'linear' 
            };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src="{% static 'js/SmoothScroll.min.js'%}"></script>
    <!-- //smooth-scrolling-of-move-up -->
    <script src="{% static 'js/numscroller-1.0.js'%}"></script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{%static 'js/bootstrap.js'%}"></script>
</body>

</html>