{% extends 'base.html'%}
{% block mystyle %}

{% endblock %}
{% block mycode %}
        <div class="section" id="contact">
                <h3 class="title1 text-center">Contact Us</h3>
                <div class="container-fluid">
                    <div class="map-grid">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6509687.090753893!2d-123.76387427440008!3d37.18697025540024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb9fe5f285e3d%3A0x8b5109a227086f55!2sCalifornia%2C+USA!5e0!3m2!1sen!2sin!4v1491201047627"
                            style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="w3layouts-contact-pos">
                    <div class="w3layouts-contact-pos-grid">
                        <span class="field-icon fa fa-map-marker" aria-hidden="true"></span>
                        <ul>
                            <li>3515 Carriage Court</li>
                            <li>Palm Springs</li>
                            <li>California.</li>
                        </ul>
                    </div>
                    <div class="w3layouts-contact-pos-grid sr1">
                        <span class="field-icon fa fa-phone" aria-hidden="true"></span>
                        <ul>
                            <li>+91 9915448908</li>
                            <li>+91 8427703682</li>
                            <li>+91 8437578731</li>
                        </ul>
                    </div>
                    <div class="w3layouts-contact-pos-grid sr2">
                        <span class="field-icon fa fa-envelope-o fa-lg" aria-hidden="true"></span>
                        <ul>
                            <li>
                                <a href="mailto:info@example.com">info@example.com</a>
                            </li>
                            <li>
                                <a href="mailto:info@example.com">info@example.com</a>
                            </li>
                            <li>
                                <a href="mailto:info@example.com">info@example.com</a>
                            </li>
                        </ul>
                    </div>
                    <div class="w3layouts-contact-pos-grid">
                        <span class="field-icon fa fa-clock-o" aria-hidden="true"></span>
                        <ul>
                            <li>Monday-Friday :
                                <span> 07:00 AM-22:00 PM</span>
                            </li>
                            <li>saturday :
                                <span>06:00 AM-23:00 PM</span>
                            </li>
                            <li>sunday :
                                <span>06:00 AM-23:00 PM</span>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="contact-form">
                    <div class="container">
        
                        <form action="" method="post">
                                {% csrf_token %}
                                {% if result %}
                                    <script>
                                        alert('{{status}}');
                                    </script>
                                {% endif %}

                            <div class="contact-left-form">
                                <div class="field-input">
                                    <span class="field-icon fa fa-user" aria-hidden="true"></span>
                                    <input type="text" placeholder="Name" name="name" required="">
                                    <div class="clearfix"></div>
                                </div>
                                <div class="field-input">
                                    <span class="field-icon  fa fa-envelope-o fa-lg" aria-hidden="true"></span>
                                    <input type="email" placeholder="Email" name="email" class="email" required="">
                                    <div class="clearfix"></div>
                                </div>
                             
                            </div>
                            <div class="clear"></div>
                            <textarea placeholder="Your Message" name="message" required=""></textarea>
                            <button class="btn1">Submit message</button>
                            
                        </form>
                    </div>
                </div>
            </div>
            {% endblock %}