{% extends 'base.html'%}
{% load staticfiles %}
{% block mystyle %}


{% endblock %}
{% block mycode %}
        <!-- banner slider -->
        <div class="slider">
            <ul class="rslides" id="slider">
                <li>
                    <div class="w3ls-banner-image  w3ls-banner-image1">
                        <div class="layer">
                            <div class="banner-text">
                                <h3>commit</h3>
                                <p> to be fit</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="w3ls-banner-image  w3ls-banner-image2">
                        <div class="layer">
                            <div class="banner-text">
                                <h3>Fitness</h3>
                                <p>is a lifestyle</p>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="w3ls-banner-image  w3ls-banner-image3">
                        <div class="layer">
                            <div class="banner-text">
                                <h3>strive</h3>
                                <p> for progress</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
    <!-- //Slider -->
    <!-- about-->
    <div class="about-top section" id="about">
        <div class="container">
            <div class="w3l-about-top-head">
                <div class="col-md-6 about-left text-center">
                    <h5 class="main-title">introducing</h5>
                    <h6 class="txt">fitness freak</h6>
                    <p>we explore your hidden potential</p>
                </div>
                <div class="col-md-6 about-right">
                    <h5>Fitness culture is a sociocultural phenomenon which refers to the culture surrounding physical exercises. It is usually associated with gym culture, as doing physical exercises in locations such as gyms, wellness centres and health clubs is a popular activity. </h5>
                    <p>Of course not. Instead, fitness was a way of life - it was survival. Hunting prey, foraging, farming and maintaining a home meant that people were constantly moving throughout the day. Despite the fact that these individuals never had any structured workout routines, they rarely suffered from some of the health problems that we see in today’s world. They ate all-natural foods that came from the ground or wild and sustained a high total daily calorie burn. These two combined factors produced a fit and healthy body - one that was agile, strong, and lean..</p>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //about -->
    <!-- about-bottom-grid -->
    <div class="section about-bottomgrid">
        <div class="container">
            <div class="about-bot-grid-sec">
                <div class="about-middle-pos">
                    <h2>fitness freak</h2>
                    <p>strive for progress</p>
                </div>
                <div class="about-section">
                    <div class="col-md-4 col-sm-6  abg1">

                    </div>
                    <div class="col-md-8 col-sm-6 wthree-sec-about">
                        <h4 class="bot-grid1">commit to be fit</h4>
                        <p class="bot-gridtxt">“Getting fit is all about mind over matter. I don’t mind, so it doesn’t matter.”</p>
                    </div>
                    <div class="clearfix"> </div>

                </div>
                <div class="col-md-8  col-sm-6 wthree-sec-about about-pos-btm">
                    <h4 class="bot-grid-about">focus on being happy</h4>
                    <p>Successful people maintain a positive focus in life no matter what is going on around them. My key to dealing with stress is simple: just stay cool and stay focused.</p>
                </div>
                <div class="col-md-4 col-sm-6 abg2">
                </div>

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //about-bottom-grid-->
    <!--services -->
    <div class="services text-center section" id="services">
        <div class="container">
            <h3 class="title1">specialization</h3>
            <div class="services-head">
                <div class="w3_services-top">
                    <div class="services-grid">
                        <img src="images/z2.png" alt="" />
                        <h4>Nullam maximus</h4>
                        <p>Ncididunt ut labore et t enim ad minim idunt ut labore.</p>
                    </div>
                </div>
                <div class="services-middle">
                    <div class="col-md-3 col-sm-4 col-xs-4 services-grid s3">
                        <img src="images/z3.png" alt="" />
                        <h4>Nullam maximus</h4>
                        <p>Ncididunt ut labore et t enim ad minim idunt ut labore.</p>
                    </div>
                    <div class="col-md-6 col-sm-4  col-xs-4 services-img-grid">
                        <img src="images/service1.png" alt="" class="img-responsive">
                    </div>
                    <div class="col-md-3 col-sm-4  col-xs-4 services-grid s3">
                        <img src="images/z4.png" alt="" />
                        <h4>Nullam maximus</h4>
                        <p>Ncididunt ut labore et t enim ad minim idunt ut labore.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="w3_services-top">
                    <div class="services-grid">
                        <img src="images/z5.png" alt="" />
                        <h4>Nullam maximus</h4>
                        <p>Ncididunt ut labore et t enim ad minim idunt ut labore.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--//services -->
    <!-- explore -->
    <div class="explore-grid text-center section" id="explore">
        <h3 class="title1">explore</h3>
        <div class="sub-div">
            <div class="exp-grid">
                <div class="ab1 w3_agile-about-grid1">
                    <img src="images/p8.png" alt="" />
                    <h4 class="explore-title">body building</h4>
                </div>
                <div class="ab1 w3_agile-about-grid1">
                    <img src="images/p4.png" alt="" />
                    <h4 class="explore-title">pilates</h4>
                </div>
                <div class="ab1 w3_agile-about-grid1">
                    <img src="images/p1.png" alt="" />
                    <h4 class="explore-title">Zumba</h4>
                </div>
                <div class="ab1 w3_agile-about-grid1">
                    <img src="images/p3.png" alt="" />
                    <h4 class="explore-title">diet guide</h4>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="exp-grid">
                <div class="ab1 w3_agile-about-grid1">
                    <img src="images/p6.png" alt="" />
                    <h4 class="explore-title">yoga</h4>
                </div>
                <div class="ab1 w3_agile-about-grid1">
                    <img src="images/p2.png" alt="" />
                    <h4 class="explore-title">fitness</h4>
                </div>
                <div class="ab1 w3_agile-about-grid1">
                    <img src="images/p5.png" alt="" />
                    <h4 class="explore-title">meditation</h4>
                </div>
                <div class="ab1 w3_agile-about-grid1">
                    <img src="images/p7.png" alt="" />
                    <h4 class="explore-title">Gym</h4>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //explore -->
    <!-- Stats -->
    <div class="stats">
        <div class="layer-stats">
            <div class="container section ">
                <div class="col-md-3">
                    <h4 class="stat-title text-center">we
                        <span>explore</span>your hidden
                        <span>potential</span>
                    </h4>
                </div>
                <div class="col-md-9 stat-info">
                    <div class="col-sm-6 col-xs-6 stats-grid text-center">
                        <div class="w3-stats-icon">
                            <span class="fa fa-shield" aria-hidden="true"></span>
                        </div>
                        <div class="stats-right">
                            <h6>professional trainers</h6>
                            <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='736' data-delay='.5' data-increment="1">343</div>

                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-6 stats-grid text-center">
                        <div class="w3-stats-icon">
                            <span class="fa fa-bookmark-o" aria-hidden="true"></span>
                        </div>
                        <div class="stats-right">
                            <h6>gold medals</h6>
                            <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='780' data-delay='.5' data-increment="1">780</div>

                        </div>

                    </div>
                    <div class="col-sm-6 col-xs-6 stats-grid text-center">
                        <div class="w3-stats-icon">
                            <span class="fa fa-external-link" aria-hidden="true"></span>
                        </div>
                        <div class="stats-right">
                            <h6>skilled trainers</h6>
                            <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='630' data-delay='.5' data-increment="1">630</div>

                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-6 stats-grid text-center">
                        <div class="w3-stats-icon">
                            <span class="fa fa-users" aria-hidden="true"></span>
                        </div>
                        <div class="stats-right">
                            <h6>happy clients</h6>
                            <div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='900' data-delay='.5' data-increment="1">1000</div>

                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //Stats -->
    <!-- gallery -->
    <div class="gallery section" id="gallery">
        <div class="container">
            <h3 class="title1">Gallery</h3>
            <div class="gallery_grids">
                <div class="col-xs-4 agile-gallery_grid_main">
                    <div class="gallery-img-grid gallery_grid1 hover14 column">
                        <div class="gallery_effect">
                            <a href="images/g1.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                                <figure>
                                    <img src="images/g1.jpg" alt=" " class="img-responsive" />
                                </figure>
                            </a>
                        </div>
                    </div>
                    <div class="gallery-img-grid hover14 column">
                        <div class="gallery_effect">
                            <a href="images/g2.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                                <figure>
                                    <img src="images/g2.jpg" alt=" " class="img-responsive" />
                                </figure>
                            </a>
                        </div>
                    </div>
                    <div class="gallery-img-grid hover14 column">
                        <div class="gallery_effect">
                            <a href="images/t3.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                                <figure>
                                    <img src="images/g3.jpg" alt=" " class="img-responsive" />
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 agile-gallery_grid_main">
                    <div class="gallery-img-grid hover14 column">
                        <div class="gallery_effect">
                            <a href="images/t1.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                                <figure>
                                    <img src="images/t1.jpg" alt=" " class="img-responsive" />
                                </figure>
                            </a>
                        </div>
                    </div>
                    <div class="gallery-img-grid hover14 column">
                        <div class="gallery_effect">
                            <a href="images/t3.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                                <figure>
                                    <img src="images/t3.jpg" alt=" " class="img-responsive" />
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 agile-gallery_grid_main">
                    <div class="gallery-img-grid gallery_grid1 hover14 column">
                        <div class="gallery_effect">
                            <a href="images/g1.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                                <figure>
                                    <img src="images/g4.jpg" alt=" " class="img-responsive" />
                                </figure>
                            </a>
                        </div>
                    </div>
                    <div class="gallery-img-grid hover14 column">
                        <div class="gallery_effect">
                            <a href="images/g2.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                                <figure>
                                    <img src="images/g5.jpg" alt=" " class="img-responsive" />
                                </figure>
                            </a>
                        </div>
                    </div>
                    <div class="gallery-img-grid hover14 column">
                        <div class="gallery_effect">
                            <a href="images/g3.jpg" class="sb" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum">
                                <figure>
                                    <img src="images/g6.jpg" alt=" " class="img-responsive" />
                                </figure>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //gallery -->
    <!--  pricing-->
    <div class="section price-main text-center" id="price">
        <div class="container">
            <h3 class="title1">plans</h3>
            <div class="sub-div">
                <div class="col-md-4 col-sm-4 plan-grid  text-center">
                    <ul class="price-plan">
                        <li class="price-type">beginner</li>
                        <li class="price-tag">$150</li>
                    </ul>
                    <ul class="price-list">
                        <li>personal trainer</li>
                        <li>diet guide</li>
                        <li>get supplement</li>
                        <li>advanced fitness</li>
                    </ul>
                    <div class="price1-btn">
                        <a href="#">buy now</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4  plan-grid  text-center">
                    <ul class="price-plan">
                        <li class="price-type">professional</li>
                        <li class="price-tag">$120</li>
                    </ul>
                    <ul class="price-list">
                        <li>personal trainer</li>
                        <li>diet guide</li>
                        <li>get supplement</li>
                        <li>advanced fitness</li>
                    </ul>
                    <div class="price1-btn">
                        <a href="#">buy now</a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4  plan-grid  text-center">
                    <ul class="price-plan">
                        <li class="price-type">advanced</li>
                        <li class="price-tag">$100</li>
                    </ul>
                    <ul class="price-list">
                        <li>personal trainer</li>
                        <li>diet guide</li>
                        <li>get supplement</li>
                        <li>advanced fitness</li>
                    </ul>
                    <div class="price1-btn">
                        <a href="#">buy now</a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- // pricing -->
    <!-- testimonials -->
    <!-- //testimonials -->
    <!-- team-->
                            <div class="clearfix"></div>
                        </li>

                    </ul>
                </div>
            </section>

        </div>
    </div>
    <!-- //team -->
    <!-- blog -->
   - //blog -->
    <!-- modal -->
    <div class="modal about-modal fade" id="myModal1" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">fitness freak</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-info">
                        <img src="images/g2.jpg" alt="" class="img-responsive" />
                        <p>Duis venenatis, turpis eu bibendum porttitor, sapien quam ultricies tellus, ac rhoncus risus odio
                            eget nunc. Pellentesque ac fermentum diam. Integer eu facilisis nunc, a iaculis felis. Pellentesque
                            pellentesque tempor enim, in dapibus turpis porttitor quis. Suspendisse ultrices hendrerit massa.
                            Nam id metus id tellus ultrices ullamcorper. Cras tempor massa luctus, varius lacus sit amet,
                            blandit lorem. Duis auctor in tortor sed tristique. Proin sed finibus sem.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //modal -->
    <!-- Contact-form -->
    <!-- //Contact-form -->
    {% endblock %}
    