<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap4 %}
<html lang="zxx">

<head>
    <title>Fitness Freak </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Fitness Freak Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
	</script>

    <link rel="stylesheet" href="{% static 'css/style2.css'%}" type="text/css" media="all">
   
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}" type="text/css" media="all">
   
	<link href="{% static '//fonts.googleapis.com/css?family=Quattrocento+Sans:400,400i,700,700i'%}" rel="stylesheet">
	<link href="{% static '//fonts.googleapis.com/css?family=Mukta:200,300,400,500,600,700,800'%}" rel="stylesheet">
    <!-- Custom Theme files -->
    <link href="{% static 'css/bootstrap.css'%}" type="text/css" rel="stylesheet" media="all">
    <link href="{% static 'css/style.css'%}" type="text/css" rel="stylesheet" media="all">
    <!-- testimonials -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css'%}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static 'css/owl.theme.css'%}" type="text/css" media="all">
    <!-- flexslider -->
    <link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{% static 'css/smoothbox.css' %}" type='text/css' media="all" />
     <!-- font-awesome icons -->
    <link href="{% static 'css/font-awesome.css'%}" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- web-fonts -->
    <link href="{% static '//fonts.googleapis.com/css?family=Jockey+One'%}" rel="stylesheet">
    <link href="{%static '//fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i'%}" rel="stylesheet">
	<!-- //web-fonts -->
	<script src="{% static 'jquery.js' %}"></script>
</head>

<body>
    <!-- banner -->
    <div class="main_section" id="home">
        <div class="agile-banner_nav">

            <nav class="navbar navbar-default">
                <div class="navbar-header navbar-left">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1>
                        <a class="navbar-brand" href="{% url 'index'%}">Freak
                            <span>&nbsp;itness</span>
                        </a>
                    </h1>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <nav class="link-effect-2" id="link-effect-2">
                        <ul class="nav navbar-nav">
                            <li class="active">
                                <a href="{% url 'index'%}" class="effect-3">Home</a>
                            </li>
                            <li>
                                <a href="#about" class="effect-3 scroll">About</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle effect-3" data-toggle="dropdown">More
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">

                                    <li>
                                        <a href="#team" class="scroll">Team</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#blog" class="scroll">Blog</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a class="s-menu" href="#">Sub menu
                                            <b class="fa fa-caret-right"></b>
                                        </a>
                                        <ul class="dropdown-menu sub-menu">
                                            <li>
                                                <a href="#">link1</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a href="#">link2</a>
                                            </li>
                                        </ul>
                                    </li>

                                </ul>
                            </li>


                            <li>
                                <a href="{% url 'myapp:contactView'%}" >contact</a>

                            </li>
                            <li>
                                <a href="{% url 'myapp:uslogin'%}">Log in</a>
                            </li>
                            <li>
                                <a href="{% url 'myapp:register'%}">Register</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </nav>
            <div class="clearfix"> </div>
        </div>
<section class="main1">
	<div class="layer"></div>
		<div class="content-w3ls">
			<div class="text-center icon">
				<span class="fa fa-html5"></span>
			</div>
			<div class="content-bottom">
				<form  method="post">
						{% csrf_token %}
					<div class="field-group">
						<span class="fa fa-user" aria-hidden="true"></span>
						<div class="wthree-field">
							<input name="name" id="text1" type="text" value="" placeholder=" Name" required>
						</div>
					</div>
					<div class="field-group">
						<span class="fa fa-user" aria-hidden="true"></span>
						<div class="wthree-field">
							<input name="contact" id="text1" type="text" value="" placeholder=" Mobile number" required>
						</div>
					</div>
					<div class="field-group">
						<span class="fa fa-lock" aria-hidden="true"></span>
						<div class="wthree-field">
							<input name="email" id="myInput" type="email" placeholder="Email">
						</div>
                    </div>
                            <div class="field-group">
						<span class="fa fa-lock" aria-hidden="true"></span>
						<div class="wthree-field">
							<input name="password" id="myInput" type="password" placeholder="Password">
						</div>
                    </div>
                    <div class="field-group">
						<span class="fa fa-lock" aria-hidden="true"></span>
						<div class="wthree-field">
							<input name="Cpassword" id="myInput" type="password" placeholder="Confirm password">
                        </div>
                        
                    </div>
                </div>
					
					<div class="wthree-field">
						<button type="submit" class="btn">submit</button>
					</div>
				</form>

			</div>
		</div>
		</div>
		<div>
				{% if status %}
				<script>
					alert('{{status}}');
				</script>
				{% endif %}
		</div>
</section>

    <!-- footer -->
		<div class="footer-bottom">
			<div class="container">
					<div class="footer-copy text-center">
							<p> 
					© 2019 Fitness Freak. All rights reserved | Design by: Jaspreet Singh
							</p>
					</div>
			</div>
	</div>
<!-- //footer -->
	<!-- js -->
	<script src="{% static 'js/jquery-2.2.3.min.js'%}"></script>
	<!-- //js -->
	<!-- nav dropdown -->
	<script>
			$('ul.dropdown-menu li').hover(function () {
					$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
			}, function () {
					$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
			});
	</script>
	<!-- //nav dropdown -->
	<!-- gallery -->
	<script src="{% static 'js/smoothbox.jquery2.js'%}"></script>
	<!-- //gallery -->
	<!-- banner Slider script  -->
	<script src="{% static 'js/responsiveslides.min.js'%}"></script>
	<script>
			$(function () {
					$("#slider, #slider1").responsiveSlides({
							auto: true,
							nav: false,
							speed: 1500,
							namespace: "callbacks",
							pager: true,
					});
			});
	</script>
	<!-- //banner Slider-JavaScript -->
	<!-- Team FlexSlider -->
	<script defer src="{% static 'js/jquery.flexslider.js'%}"></script>
	<script>
			$(window).load(function () {
					$('.flexslider').flexslider({
							animation: "slide",
							start: function (slider) {
									$('body').removeClass('loading');
							}
					});
			});
	</script>
	<!-- End- Flexslider-script -->
	<!-- Testimonials owl carousel -->
	<script src="{% static 'js/owl.carousel.js'%}"></script>
	<script>
			$(document).ready(function () {
					$("#owl-demo").owlCarousel({

							autoPlay: 3000, //Set AutoPlay to 3 seconds
							autoPlay: false,
							items: 3,
							itemsDesktop: [991, 2],
							itemsDesktopSmall: [414, 4]

					});
			});
	</script>
	<!-- //Testimonials owl carousel -->
	<!-- start-smooth-scrolling -->
	<script src="{% static 'js/move-top.js'%}"></script>
	<script src="{% static 'js/easing.js'%}"></script>
	<script>
			jQuery(document).ready(function ($) {
					$(".scroll").click(function (event) {
							event.preventDefault();

							$('html,body').animate({
									scrollTop: $(this.hash).offset().top
							}, 1000);
					});
			});
	</script>
	<!-- //end-smooth-scrolling -->
	<!-- smooth-scrolling-of-move-up -->
	<script>
			$(document).ready(function () {
					/*
					var defaults = {
						containerID: 'toTop', // fading element id
						containerHoverID: 'toTopHover', // fading element hover id
						scrollSpeed: 1200,
						easingType: 'linear' 
					};
					*/

					$().UItoTop({
							easingType: 'easeOutQuart'
					});

			});
	</script>
	<script src="{% static 'js/SmoothScroll.min.js'%}"></script>
	<!-- //smooth-scrolling-of-move-up -->
	<script src="{% static 'js/numscroller-1.0.js'%}"></script>
	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="{% static 'js/bootstrap.js'%}"></script>
	<script>
		$(function(){
			$('#user').keyup(function(){
				uname = $(this).val();
				$.ajax({
					url:'{% url "myapp:check_user"%}',
					type:'get',
					data:{username:uname},
					success:function(data){
						if(data=="Username Validation Success!!!"){
							$("#submit").removeAttr('disabled');
							$('#msz').removeClass('text-danger').addClass('text-success').html(data);
						}else{
							$("#submit").attr('disabled','disabled');
							$('#msz').removeClass('text-success').addClass('text-danger').html(data);
	
	
						}
					   
					}
				})
			});
		});
		</script>
		{% if status %}
			<script>
			alert('{{status}}');
			</script>
		{% endif %}
</body>
</html>