
    #sidebar{margin: 0px;
        padding: 0px;
        font-family: sans-serif;
}



   #sidebar{
       position: fixed;
       width: 200px;
       height: 100%;
       background-color: aqua
   }
   #sidebar ul li{
       color:black;
       list-style: none;
       padding: 15px 5px;
       border-bottom: 1px solid rgba(100,100,100,0.3);
   }
   #sidebar.toggle-btn{
       position: absolute;
       left:230px;
       top:20px;
   }
   #sidebar.toggle-btn span{
       display:block;
       width: 30px;
       height:5px;
       background:black;
       margin: 3px 0px;
   }